---
# Please process this file Jekyll
---

@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

/* roboto-regular - latin */

/* roboto-regular - latin */

/* roboto-mono-300 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-mono-v5-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Light'), local('RobotoMono-Light'),
       url('../fonts/roboto-mono-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v5-latin-300.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* roboto-mono-300italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto-mono-v5-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Light Italic'), local('RobotoMono-LightItalic'),
       url('../fonts/roboto-mono-v5-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v5-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v5-latin-300italic.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('../fonts/roboto-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v5-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../fonts/roboto-v18-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* gentium-basic-regular - latin */
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gentium-basic-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Gentium Basic'), local('GentiumBasic'),
       url('../fonts/gentium-basic-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gentium-basic-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gentium-basic-v9-latin-regular.svg#GentiumBasic') format('svg'); /* Legacy iOS */
}


/* gentium-basic-700 - latin */
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/gentium-basic-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Gentium Basic Bold'), local('GentiumBasic-Bold'),
       url('../fonts/gentium-basic-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gentium-basic-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gentium-basic-v9-latin-700.svg#GentiumBasic') format('svg'); /* Legacy iOS */
}

/* gentium-basic-700italic - latin */
@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/gentium-basic-v9-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Gentium Basic Bold Italic'), local('GentiumBasic-BoldItalic'),
       url('../fonts/gentium-basic-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gentium-basic-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gentium-basic-v9-latin-700italic.svg#GentiumBasic') format('svg'); /* Legacy iOS */
}

/* gentium-basic-italic - latin */
@font-face {
  font-family: 'Gentium Basic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/gentium-basic-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Gentium Basic Italic'), local('GentiumBasic-Italic'),
       url('../fonts/gentium-basic-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gentium-basic-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gentium-basic-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gentium-basic-v9-latin-italic.svg#GentiumBasic') format('svg'); /* Legacy iOS */
}


$family-sans-serif: "Roboto", sans-serif;
$family-serif: "Gentium Basic", serif;
$family-primary: $family-serif;
$link-hover: $blue;
$title-weight: $weight-medium;
$text: $grey-darker;

@import "bulma/bulma.sass";

.fixed {
    position: fixed;
    top: 20px;
}

#text a {
    color: $grey-darker;
    /* text-decoration: underline;
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip-ink: auto; */
    border-bottom: 1px dotted $grey;
}

#text a.footnote {
    text-decoration: underline;
    border-bottom: none;
}

#sidebar {
    margin-top: 0px;
}

#thing-details {
    margin-top: 2rem;
    display: none;
    font-size: $size-6;
}

#thing-details h4 {
    font-weight: $weight-normal;
}

.content p.list-head {
    margin-bottom: 0.5em;
}

.content ul.related {
    margin-top: 0;
}

.more-details {
    font-family: $family-sans-serif;
    font-size: $size-7;
}

#references {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.reference {
  font-family: $family-sans-serif;
  height: 30px;
  width: 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  margin: 2px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 1;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  cursor: pointer;
  border: 1px solid;
  transition: color 0.5s, background-color 0.5s;
}

#text {
    font-family: $family-serif;
    font-size: $size-5;
    color: $grey-darker;
}

.close-details {
    margin: 5px;
    z-index: 1;
}

.fnSlider {
    display: none;
    font-size: $size-6;
    background-color: $white-ter;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem;
}

.footnotes {
    font-size: $size-6;
}

.card-footer.people {
    border: 1px solid;
}

.cover {
    object-fit: cover;
    object-position: 50% 25%;
}

.image.is-rounded img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
      border-radius: 50%;
}

.icon.icon-list {
    align-items: initial;
    opacity: 0.5;
}

.reverse-row-order {
  flex-direction: row-reverse;
}

footer {
    position: relative;
    bottom: 0px;
}

ul.lod-list {
    margin-top: 0;
    list-style: circle outside;
    font-size: $size-5;
    padding-left: 2rem;
}

.title.lod-list-title {
    margin-bottom: 0;
    font-size: $size-5;
    margin-top: 1rem;
    font-weight: $weight-bold;
}

.title.mentions-chapter {
    margin-top: 1rem;
    font-size: $size-5;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

p.mentions-para {
    margin-top: 1rem;
    font-weight: $weight-bold;
    margin-left: 1rem;
}

ul.mentions-list {
    list-style-position: outside;
    font-size: $size-6;
    padding-left: 2rem;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

.wall-image {
    margin-bottom: 0.5rem;
}

.wall-link {
    padding-left: 0.5rem;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
    opacity: 0.75;
    transition: opacity 0.5s;
}

.wall-link:hover {
    opacity: 1;
}
