# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title:               "James Minahan's Homecoming"
tagline:             'A story of race and belonging in White Australia'
description:         'An attempt to use Jekyll to publish narratives enriched with Linked Open Data'
url:                 'https://wragge.github.io'
baseurl:             '/lodbook3'
status:              'Draft only, March 2017'
author: GitHub User
email: your-email@domain.com

# About/contact
# author:
#  name:              Kate Bagnall
#  url:               https://twitter.com/baibi

# Permalinks

permalink: pretty
permalink: /:title/

header_pages:
  - about.md

# Set encoding to UTF-8
encoding: utf-8

include: ['_pages']

# Collections for texts
collections:
  chapters:
    output: true

lod_source:
    data: 'data-csv'
    context: 'http://schema.org/'

data_types:
  Person:
    template: 'person'
    collection: 'people'
    type: 'http://schema.org/Person'
  Organization:
    template: 'organisation'
    collection: 'organisations'
    type: 'http://schema.org/Organization'
  Place:
    template: 'place'
    collection: 'places'
    type: 'http://schema.org/Place'
  Event:
    template: 'event'
    collection: 'events'
    type: 'http://schema.org/Event'
  CreativeWork:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/CreativeWork'
  ImageObject:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/ImageObject'
  CivicStructure:
    template: 'place'
    collection: 'places'
    type: 'http://schema.org/CivicStructure'
  City:
    template: 'place'
    collection: 'places'
    type: 'http://schema.org/City'
  Country:
    template: 'place'
    collection: 'places'
    type: 'http://schema.org/Country'
  AdministrativeArea:
    template: 'place'
    collection: 'places'
    type: 'http://schema.org/Country'
  State:
    template: 'place'
    collection: 'places'
    type: 'http://schema.org/State'
  ArchivalUnit:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/CreativeWork'
  Book:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/Book'
  Photograph:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/Photograph'
  ArchivalSeries:
    template: 'resource'
    collection: 'resources'
    type: 'https://bib.schema.org/Collection'
  Document:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/CreativeWork'
  Article:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/Article'
  NewsArticle:
    template: 'resource'
    collection: 'resources'
    type: 'http://schema.org/NewsArticle'
  Chapter:
    template: 'resource'
    collection: 'resources'
    type: 'https://bib.schema.org/Chapter'
  Thesis:
    template: 'resource'
    collection: 'resources'
    type: 'https://bib.schema.org/Thesis'

data_collections:
    -   name: people
        color: "#563331"
        icon: "fas fa-user-circle"
        template: people
        types:
            - Person
    -   name: organisations
        color: "#711d1f"
        icon: "fas fa-building"
        template: organisations
        types:
            - Organization
    -   name: places
        color: "#4f7671"
        icon: "fas fa-globe"
        template: places
        types:
            - Place
            - CivicStructure
            - City
            - State
            - Country
            - AdministrativeArea
    -   name: events
        color: "#657957"
        icon: "fas fa-calendar-alt"
        template: events
        types:
            - Event
    -   name: resources
        color: "#942628"
        icon: "fas fa-file-alt"
        template: resources
        types:
            - CreativeWork
            - ImageObject
            - Book
            - ArchivalSeries
            - Document
            - Photograph
            - ArchivalUnit
            - Article
            - NewsArticle
            - Chapter
            - Thesis


twitter_username: wragge
github_username:  wragge

# Build settings
markdown: kramdown
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-responsive-image

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

kramdown:
  auto_ids:       true
  footnote_nr:    1
  entity_output:  as_char
  footnote_backlink: "&#x21a9;&#xfe0e;"
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

responsive_image:
  # [Required]
  # Path to the image template.
  template: _includes/feature-image.html

  # [Optional, Default: 85]
  # Quality to use when resizing images.
  default_quality: 90

  # [Optional, Default: []]
  # An array of resize configuration objects. Each object must contain at least
  # a `width` value.
  sizes:
    - width: 100
    - width: 400
    - width: 800

  # [Optional, Default: assets]
  # The base directory where assets are stored. This is used to determine the
  # `dirname` value in `output_path_format` below.
  base_path: images

  # [Optional, Default: assets/resized/%{filename}-%{width}x%{height}.%{extension}]
  # The template used when generating filenames for resized images. Must be a
  # relative path.
  #
  # Parameters available are:
  #   %{dirname}     Directory of the file relative to `base_path` (assets/sub/dir/some-file.jpg => sub/dir)
  #   %{basename}    Basename of the file (assets/some-file.jpg => some-file.jpg)
  #   %{filename}    Basename without the extension (assets/some-file.jpg => some-file)
  #   %{extension}   Extension of the file (assets/some-file.jpg => jpg)
  #   %{width}       Width of the resized image
  #   %{height}      Height of the resized image
  #
  output_path_format: images/resized/%{width}/%{basename}
