<div class="content">
{% if data.image %}
    {% assign image_filename = data.image | image_link %}
    {% if image_filename != "" and image_filename != nil %}
        <figure class="image box">
            {% responsive_image_block %}
                path: images/{{ image_filename }}
            {% endresponsive_image_block %}
            <figcaption>
                 <p>
                     <a title="Enlarge" class="is-pulled-right" href="{{ site.baseurl }}/images/{{ image_filename }}"><span class="icon"><i class="fas fa-search-plus"></span></i></a>
                 </p>
            </figcaption>

        </figure>
    {% endif %}
{% endif %}
</div>
