---
layout: default
filename: index.html
---


{% assign data = page.data %}
<h2 class="title is-size-2">{{ page.title | smartify }}</h2>

<div class="columns reverse-row-order">
    <div class="column is-half">
        {% include feature-image-with-caption.html %}
    </div>
    <div class="column is-half">
        <p class="is-size-4">{{ data.description }}</p>
        {% if data.startDate %}
            <h4 class="title lod-list-title">Start date</h4>
                <ul class="lod-list">
                    <li>
                        {{ data.startDate | format_date }}
                    </li>
                </ul>
        {% endif %}
        {% if data.endDate %}
            <h4 class="title lod-list-title">End date</h4>
                <ul class="lod-list">
                    <li>
                        {{ data.endDate | format_date }}
                    </li>
                </ul>
        {% endif %}
        {{ data.location | lod_list: "Location" }}
        {{ data.subjectOf | lod_list: "Subject of" }}
        {{ data.mentionedBy | lod_list: "Mentioned by" }}
        {{ data.performer | lod_list: "Participants" }}
        {{ data.attendee | lod_list: "Attended" }}
        {{ data.sameAs | lod_list: "Same as" }}
        {% include list-contexts.html %}
    </div>
</div>
