---
layout: default
filename: index.html
---

{% assign data = page.data %}
<h2 class="title is-size-2">{{ page.title | smartify }}</h2>

<div class="columns reverse-row-order">
    <div class="column is-half">
        {% include feature-image-with-caption.html %}
    </div>
    <div class="column is-half">
        <p class="is-size-4">{{ data.description }}</p>
        {% if data.foundingDate %}
            <h4 class="title lod-list-title">Founded</h4>
                <ul class="lod-list">
                    <li>
                        {{ data.foundingDate | format_date }}
                    </li>
                </ul>
        {% endif %}
        {% if data.dissolutionDate %}
            <h4 class="title lod-list-title">Dissolved</h4>
                <ul class="lod-list">
                    <li>
                        {{ data.dissolutionDate | format_date }}
                    </li>
                </ul>
        {% endif %}
        {{ data.location | lod_list: "Location" }}
        {{ data.url | lod_list: "Website" }}
        {{ data.subjectOf | lod_list: "Subject of" }}
        {{ data.publishes | lod_list: "Published" }}
        {{ data.provides | lod_list: "Provides access to" }}
        {{ data.member | lod_list: "Members" }}
        {{ data.employee | lod_list: "Employees" }}
        {{ data.sameAs | lod_list: "Same as" }}
        {% include list-contexts.html %}
    </div>
</div>
