---
layout: default
filename: index.html
---

{% assign data = page.data %}
<h2 class="title is-size-2">{{ page.title | smartify }}</h2>

<div class="columns reverse-row-order">
    <div class="column is-half">
        {% include feature-image-with-caption.html %}
    </div>
    <div class="column is-half">
        <p class="is-size-4">{{ data.description }}</p>
        {% if data.geo.latitude %}
            <h4 class="title lod-list-title">Coordinates</h4>
                <ul class="lod-list">
                    <li>Latitude: {{ data.geo.latitude }}</li>
                    <li>Longitude: {{ data.geo.longitude }}</li>
                </ul>
        {% endif %}
        {{ data.address | lod_list: "Address" }}
        {{ data.containedInPlace | lod_list: "Located in" }}
        {{ data["containsPlace"] | lod_list: "Contains" }}
        {{ data.subjectOf | lod_list: "Subject of" }}
        {{ data.mentionedBy | lod_list: "Mentioned by" }}
        {{ data.sameAs | lod_list: "Same as" }}
        {% include list-contexts.html %}
    </div>
</div>
